@import url('https://fonts.googleapis.com/css?family=Anton|EB+Garamond|Libre+Baskerville&display=swap');
html{
    scroll-behavior: smooth;
}
body{
  background: url(../images/bg-main.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1,h2,h3,h4{
  font-family: 'Libre Baskerville', serif;
}
p,a,li{
  font-family: 'EB Garamond', serif;
}

nav{
  border-radius: 20px;
  background: #374e59 !important;
}

nav .nav-link{
  color: white !important;
  padding-right: 40px !important;
  font-size: 20px;
}


header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  font-family: 'Libre Baskerville', serif;

}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  color: #f2d659;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../images/bg1.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/*clock
==========================*/
div#popUpForm {
    position: absolute;
    width: 100%;
  display:none;
  height: 100%;
  z-index: 100;
}

#popContainer {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    height: 400px;
    margin-top: 80px;
    color: white;
     border: 20px solid transparent;
  padding: 15px;
  -webkit-border-image: url(https://ui-ex.com/images/border-transparent-celebration-6.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(https://ui-ex.com/images/border-transparent-celebration-6.png) 30 round; /* Opera 11-12.1 */
  border-image: url(https://ui-ex.com/images/border-transparent-celebration-6.png) 60 round;

}


#close{
  border:solid 1px;
  width:20px;
  padding:3px;
  background-color:red; 
  float:right;  
  margin:10px;
  cursor:pointer;
  border-radius:2px;
  font-weight:bold;
}
#close:hover{
  background-color:#ff44449e;
}

@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

#clock{
  color: #fff;
  font-family: 'Bungee Shade', cursive;
  font-size: 70px;
  position: relative;
  text-align: center;
  margin-top: 10%; 
}


/*About Section
---------------------------------*/
#about{
  background: none;
}
.aboutus-section {
  padding: 90px 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: white;
}
.aboutus-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}
.aboutus-text {
  color: white;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

.aboutus-section a:hover, a:active {
  color: #ffb901;
  text-decoration: none;
  outline: 0;
}
.aboutus-more {
  border: 1px solid #fdb801;
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}
.feature .feature-box .iconset {
  float: left;
  position: relative;
  width: 18%;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}


.feature .feature-box .feature-content {
  float: left;
  padding-left: 28px;
  width: 78%;
}
.feature .feature-box .feature-content h4 {
  color: white;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
  color: white;
  font-size: 13px;
  line-height: 22px;
}
.icon {
  color : #f4b841;
  padding-top: 20px;
  font-size:40px;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

/*sevices
------------------------*/
#services{
  background: none;
}

.holderCircle { width: 500px; height: 500px; border-radius: 100%; margin: 60px auto; position: relative; }


.dotCircle { width: 100%; height: 100%; position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0; border-radius: 100%; z-index: 20; }
.dotCircle  .itemDot { display: block; width: 80px; height: 80px; position: absolute; background: #ffffff; color: #f4b841; border-radius: 20px; text-align: center; line-height: 80px; font-size: 30px; z-index: 3; cursor: pointer; border: 2px solid white; }
.dotCircle  .itemDot .forActive { width: 56px; height: 56px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: none; }
.dotCircle  .itemDot .forActive::after { content: ''; width: 5px; height: 5px; border: 3px solid white; bottom: -31px; left: -14px; filter: blur(1px); position: absolute; border-radius: 100%; }
.dotCircle  .itemDot .forActive::before { content: ''; width: 6px; height: 6px; filter: blur(5px); top: -15px; position: absolute; transform: rotate(-45deg); border: 6px solid #f4b841; right: -39px; }
.dotCircle  .itemDot.active .forActive { display: block; }
.round { position: absolute; left: 40px; top: 45px; width: 410px; height: 410px; border: 2px dotted #f4b841; border-radius: 100%; -webkit-animation: rotation 100s infinite linear; }
.dotCircle .itemDot:hover, .dotCircle .itemDot.active { color: #ffffff; transition: 0.5s;   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d4ac7+0,a733bb+100 */ background: #f4b841; /* Old browsers */ background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(244,184,65,1) 54%, rgba(244,184,65,1) 78%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(54%, rgba(244,184,65,1)), color-stop(78%, rgba(244,184,65,1)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(244,184,65,1) 54%, rgba(244,184,65,1) 78%);
  background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(244,184,65,1) 54%, rgba(244,184,65,1) 78%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(244,184,65,1) 54%, rgba(244,184,65,1) 78%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(244,184,65,1) 54%, rgba(244,184,65,1) 78%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4b841', endColorstr='#a733bb', GradientType=1); /* IE6-9 */ border: 2px solid #ffffff; -webkit-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .13); }
  .dotCircle .itemDot { font-size: 40px; }
  .contentCircle { width: 250px; border-radius: 100%; color: #222222; position: relative; top: 150px; left: 50%; transform: translate(-50%, -50%); }
  .contentCircle .CirItem { border-radius: 100%; color: #222222; position: absolute; text-align: center; bottom: 0; left: 0; opacity: 0; transform: scale(0); transition: 0.5s; font-size: 15px; width: 100%; height: 100%; top: 0; right: 0; margin: auto; line-height: 250px; }
  .CirItem.active { z-index: 1; opacity: 1; transform: scale(1); transition: 0.5s; }
  .contentCircle .CirItem i { font-size: 180px; position: absolute; top: 0; left: 50%; margin-left: -90px; color: #000000; opacity: 0.1; }
  @media only screen and (min-width:300px) and (max-width:599px) {
    .holderCircle { width: 300px; height: 300px; margin: 110px auto; }
    .holderCircle::after { width: 100%; height: 100%; }
    .dotCircle { width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }
  }
  @media only screen and (min-width:600px) and (max-width:767px) { }
  @media only screen and (min-width:768px) and (max-width:991px) { }
  @media only screen and (min-width:992px) and (max-width:1199px) { }
  @media only screen and (min-width:1200px) and (max-width:1499px) { }
  .title-box .title { font-weight: 600; letter-spacing: 2px; position: relative; z-index: -1; }
  .title-box span { text-shadow: 0 10px 10px rgba(0, 0, 0, .15); font-weight: 800; color: white; }
  .title-box p {font-size: 17px; line-height: 2em; color: white;}

/*portfolio
------------------------*/
#portfolio{
  background: none;
}
.device {
  margin: 0;
  position: relative;
  display: inline-block;
  width: 45%;
}
.device.tablet .device-hardware {
  background-image: url(https://cdn.pbhs-sites.com/wp-content/plugins/pbhs-portfolio/_media/images/tablet-lg.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  padding-bottom: 91.3%;
}
.device.tablet .device-screen {
  top: 9.5%;
  bottom: 35.5%;
  left: 12.5%;
  right: 11.5%;
  border-radius: 1px;
  background-size: 122% auto;
  background-position-x: 50%;
  background-position-y: 0%;
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  -webkit-transition: background-position .4s;
  -moz-transition: background-position .4s;
  -o-transition: background-position .4s;
  transition: background-position .4s;
  background-color: #565656;
  overflow: hidden;
}
.device.tablet .hover-trigger:hover .device-screen{
  background-position-y: 50%;
}
.device .hover-name {
  background-color: #f4b841;
  color: #efefef;
  position: absolute;
  font-size: 13px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px 6px;
  top: -50px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: top .4s;
  -moz-transition: top .4s;
  -o-transition: top .4s;
  transition: top .4s;
  font-family: montserrat,Helvetica,Arial,sans-serif;
}
.device.tablet .hover-trigger:hover .hover-name{
  top:-1px;
}
.device .hover-icon {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 30%;
  color: rgba(255,255,255,.8);
  background-color: rgba(255,255,255,.3);
  width: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  height: 70px;
  border-radius: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.device.tablet.device-list .hover-trigger:hover .hover-icon{
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform:scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media (max-width: 991px){
  .device {
    width: 45%;
  }
  .flex-order-tablet_0 {
    order: 0;
    -ms-flex-order: 0;
    -webkit-order:0;
    -moz-box-ordinal-group: 0;
    -ms-box-ordinal-group: 0;
    -webkit-box-ordinal-group: 0;
  }
}
@media (max-width: 767px){
   .device {
    width: 95%;
  }
}

.next-page{
 text-align: center;
}
.next-page a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  border: 2px dotted white;
  border-radius: 20px;
  padding: 10px;
}
.next-page a:hover{
  text-decoration: none;
  color: grey;
  background: #f4b841;
}

/*team
----------------*/
#team{
  background: none;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #f4b841;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f4b841;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f4b841;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


/*Testimonials  
-----------------------*/

#main-testi {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-top: 200px;
  margin-bottom: 50px;
}

#testimonials {
  list-style: none;
  margin: 0;
  padding: 0;
}
#testimonials li {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  background-color: #fff;
}
#testimonials li .insides {
  clear: both;
}
#testimonials li .insides .testimonial {
  position: relative;
  padding: 10px 15px 10px;
}
#testimonials li .insides .testimonial .name {
  display: block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #f4b841;
}
#testimonials li .insides .testimonial .text {
  display: block;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Open Sans";
}
#testimonials li .insides .photo {
  float: left;
  margin: 8px 10px;
}
#testimonials li .insides .photo img {
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
@media only screen and (min-width: 700px) {
  #testimonials li {
    background-color: transparent;
    width: 50%;
    float: left;
    margin-bottom: 5px;
  }
  #testimonials li:hover .photo img {
    border-color: #f4b841;
  }
  #testimonials li:nth-child(even) .insides {
    border-radius: 0 100px 100px 0;
    margin-right: 0;
    margin-left: 5px;
  }
  #testimonials li:nth-child(even) .photo {
    float: right;
  }
  #testimonials li:nth-child(even) .testimonial {
    text-align: right;
  }
  #testimonials li .insides {
    height: 120px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 100px 0 0 100px;
  }
  #testimonials li .photo {
    float: left;
    margin: 8px 10px;
  }
  #testimonials li .photo img {
    max-width: 100px;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
}

.clear{
  clear: both;
}

/*contact
-------------------*/


form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}

input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: 1px solid white;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: none;
  color: white;
}
input[type=submit], textarea[type=submit] {
  background: #f4b841;
  color: #fff;
  width: 100%;
}
input::placeholder, textarea::placeholder {
  color: white;
}
input.error, textarea.error {
  background: #AD4747;
  color: #fff;
}
input.error::placeholder, textarea.error::placeholder {
  color: white;
}

textarea {
  height: 10rem;
}
/*
.captcha {
  float: left;
  margin-top: 20px;
}
.captcha input {
  float: right;
  background: #f4b841;
}

.captcha input[name=question] {
  width: 4rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: right;
  padding-right: 0;
}
.captcha [name=captcha] {
  width: 5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.5rem;
}
.captcha [name=captcha]::placeholder {
  text-align: center;
}
*/
.captcha{ 
  margin-top: 150px;
}


/*drawing app
--------------------------------*/
.captcha .inputContainer{
    width: 200px;
    float: right;
    margin-top: -140px;
    
}

.captcha .input{
    height: 30px; 
    font-size: 1.3em;

}
.captcha #slider{
      
}
.captcha #circle{
    height: 3px;  
    width: 3px;
    border-radius: 50%;
    background: black;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.captcha #thicknessInput{
    position: relative;
}

.captcha #draw{
    width: 60%;
    height: 100px;
    border: 1px solid white;
    
}
.captcha #paint{
    background-color: none;
    cursor: crosshair;
    width: 100%;
     height: 100px;
}


.captcha .inputContainer2{
    width: 399px;
    margin-top: 20px;
}
.captcha .input2{
     width: 133px;
    color: #5BB4E7;
    font-size: 1.3em;
    float: left;
}

.captcha .button{
    background: #fff;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    position: relative;
}

.captcha .button:hover{
    color: white;
    background: linear-gradient(white, rgba(67,169,228,0.9));
    background: -webkit-linear-gradient(white, rgba(67,169,228,0.9));
    background: -moz-linear-gradient(white, rgba(67,169,228,0.9));
    background: -o-linear-gradient(white, rgba(67,169,228,0.9));
    background: -ms-linear-gradient(white, rgba(67,169,228,0.9));
}

.captcha .button:active{
    top: 4px;   
}

.captcha .eraseMode{
    background-color: red;
    color: white;
}

@media(max-width: 1000px){
  .captcha .inputContainer{
    display: none;
  }
}

/*footer
----------------------*/
footer{
  color: white;
  background: #374e59;
}

.footer-bottom {
  background: none;
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer ul{
  float: right;
  margin-top: -50px;
}
footer ul li{
  padding-left: 10px;
  cursor: pointer;
  font-size: 30px;
  border: 1px dotted white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
} footer ul li:hover{
  background: #f4b841;
  color: grey;
}
